.button {
    -fx-font: normal bold 50px "Liberation Sans";

    -fx-background-color: rgb(255, 255, 255);
    -fx-background-radius: 5;

    -fx-border-color: rgb(0, 0, 0);
    -fx-border-style: solid;
    -fx-border-radius: 5;
    -fx-border-width: 3px;

    -fx-padding: 0;
    -fx-pref-height: 400;
    -fx-pref-width: 100;
}

/* Sobrescreve a transparencia quando o botao for desabilitado */
.button:disabled {
    -fx-opacity: 1;
}

#primeiro {
    -fx-text-fill: rgb(255, 0, 0);
    -fx-background-color: rgb(255, 200, 200);
    -fx-border-color: rgb(255, 0, 0);
}

#segundo {
    -fx-text-fill: rgb(0, 0, 255);
    -fx-background-color: rgb(200, 200, 255);
    -fx-border-color: rgb(0, 0, 255);
}